:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  
  header {
    /* Estilos para el encabezado */
  }
  
  main {
    /* Estilos para el contenido principal */
    flex-grow: 1;
  }
  
  footer {
    /* Estilos para el pie de página */
  }